body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:rgb(235, 229, 248);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
 
}
.App{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}